div {
	border: 2px solid black;
}
.titles {
	text-align: center;
}

.dates {
	align: center;
	height: 100px;
	display: inline-block;
	width: 45.9%;
}

.objects {
	alight: center;
	height: 100px;
	display: inline-block;
	width:45.9%;
}

